<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Finalproject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <%= @analyzer.score 'You are my favorite person ever. I wantto hug you. You make me happy.' %>
  <h1>rant</h1>
    <%= yield %>
  </body>
</html>
